<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Hugo Jorge Marzal y Diego García Díaz
</p>
<p>
    <a href="https://github.com/hugojorgemarzal/quiz_2017">Enlace al código en GitHub</a>
</p>


<img src="/images/hugo.jpg" />
<img src="/images/diego.jpg" />
