<h1>Ayuda</h1>

<p>
   Este portal es una implementación del proyecto Quiz, el cual es una red social donde los usuarios pueden crear adivinanzas y compartirlas entre ellos, mostrándose como un típico foro de Internet.
</p>
<p>
	Un quiz es una adivinanza, y se responde introduciendo la respuesta correcta a la adivinanza y te dice si es correcta o no.
</p>




