body {
    font-size: large;
    background: #333;
}

#mainHeader {
    font-size: x-large;
}

#mainFooter:after {
    content: "Smartphone Layout";
    color: white;
}

.no-narrow {
    display: none;
}

footer{
    border-color: black;
    background-color: black;
}


#page{
margin: 0;
}
